<footer class="footer bg-dark text-light p-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <span>StoryBooks @ <%= new Date().getFullYear()%></span>
                <div class="social-icon d-flex align-items-center">
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
