<div class="mt-5">
    <h1>Welcome</h1>
    <p>Welcome to StoryBooks 1.0.0</p>
    <p>Post stories from the best and worst of your life and choose for them to be read by the world or completely private as your own personal diary</p>
    <a class="btn btn-info" href="/auth/google"><i class="fab fa-google"></i> Login With Google</a>
</div>

